<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695008288367-8q1ds47hs82g6tdbnokrc5dg4g18el7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695008288367-8q1ds47hs82g6tdbnokrc5dg4g18el7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDU2rfY4rY5qf6YtEc_1DiZtpd_aUX5QPI</string>
	<key>GCM_SENDER_ID</key>
	<string>695008288367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isis.authentication</string>
	<key>PROJECT_ID</key>
	<string>smart-cities-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-cities-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695008288367:ios:0121703256c14549a1379a</string>
</dict>
</plist>