.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.bottomItems {
  position: absolute;
  bottom: 70px;
}

.privacyNotice {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  margin-top: 55%;
  padding: 20px;
}

.privacyText {
  font-style: italic;
}
