.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.backButton {
  position: absolute;
  top: 5px;
  left: 5px;
}

.register-block {
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.registerInput {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

.has-focus.registerInput {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border-color: rgba(81, 203, 238, 1);
}

.reportButton {
  margin: 10px auto;
  /* padding: 10px 0px; */
}

ion-input .native-input {
  --padding-bottom: 10px;
  --padding-start: 8px;
}

@media screen and (max-width: 450px) {
  .registerInput {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .registerInput {
    width: 200px;
  }
}

@media (prefers-color-scheme: dark) {
  .register-block {
    background-color: #3f3f3f;
    color: white;
  }
}