    .centerItem {
        justify-content: center;
        display: flex !important;
        align-items: center !important;
    }
    
    .uploadMargin {
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .searchbar-input {
        border: 0 !important;
        box-shadow: none!important;
        width: 800px;
        text-transform: none;
    }
    
    .calendarIcon {
        color: black;
        font-size: 64px;
    }

    .mapIcon {
        color: #D8AB4C;
        font-size: 15px;
        position: absolute;
    }
    
    .animalCard {
        color: #FFE162;
    
    }
    ion-toolbar.ion-padding {
        --background: white;
        height: 50px;
        box-shadow: none !important;
        margin-bottom: 20px
    }
    /* plate selection stuff */
    
    .animalSelectionMargin {
        margin-top: 25px;
    }
    
    .buttonLeftMargin {
        margin-left: 15px;
        margin-top: 20px;
    }
    
    .customQueryMargin {
        width: 300px
    }
    
    .reportLostPet {
        position: relative;
        width: 300px;
        font-size: 20px;
        text-transform: none;
        color:crimson
    }
    
    .bottomItems {
        position: absolute;
        bottom: 70px;
    }
    
    .header {
        position: absolute;
        top: 0px;
        margin-bottom: 10px;
        width: max-content center;
        justify-content: flex-end;
        display: flex !important;
        align-items: center !important;
        flex-flow: column;
    }

    .mapButton {
        position: absolute;
        top: 8px;
        right: 10px;
        margin-bottom: 10px;
        width: max-content center;
        justify-content: flex-end;
        display: flex !important;
        align-items: center !important;
        flex-flow: column;
    }
/* 
    .mapButtonCircle {
        background-color: #D8AB4C;
        border-radius: 50%;
    } */

    /* .mapContainer {
        position: absolute;
        top: 0px;
        width: 400px;
        height: 100%;
        z-index: -1;
    } */

    /* .contact-popover .popover-content{ width: 700px; } */

   