    .centerItem {
        justify-content: center;
        display: flex !important;
        align-items: center !important;
    }
    
    .uploadMargin {
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .searchbar-input {
        /* border: 0 !important; */
        box-shadow: none!important;
        width: 40vw;
        max-width: 800px;
        min-width: 300px;
        text-align: left;
        height: 100%;

        text-transform: none;
    }
    
    .calendarIcon {
        color: black;
        font-size: 64px;
    }

    .mapIcon {
        color: #D8AB4C;
        font-size: 15px;
        position: absolute;
    }
    
    .animalCard {
        color: #FFE162;
    
    }
    ion-toolbar.ion-padding {
        --background: white;
        padding-bottom: 0px !important;
    }
    /* plate selection stuff */
    
    .animalSelectionMargin {
        margin-top: 25px;
    }
    
    .buttonLeftMargin {
        margin-left: 15px;
        margin-top: 20px;
    }
    
    .customQueryMargin {
        
        position: relative;
        width: 200px;
        height: 42px !important;
        border-radius: 10px;
        font-size: 20px;
        color:white;
        background-color: rgb(83, 83, 83);
    }
    
    .reportLostPet {
        position: relative;
        width: 250px;
        height: 42px !important;
        border-radius: 10px;
        font-size: 20px;
        color:white;
        background-color: crimson;
        /* right: 0px; */
    }

    .timeButton {
        width: 100%;
        height: 42px !important;
        border-radius: 10px !important;
        font-size: 20px;
        color:white;
        margin: 4px 0px !important;
        background-color: rgb(184, 184, 184);
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
    }

    .ionDatetime {
        background-color: white;
        border-radius: 10px !important;
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .button-selected {
        background-color: rgb(126, 126, 126) !important;
      }

    .submitButton {
        width: 100%;
        height: 42px !important;
        border-radius: 10px !important;
        font-size: 20px;
        color:white;
        margin: 8px 0px 0px 0px !important;
        background-color: crimson;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;

    }

    .calendarButton {
        background-color: rgb(184, 184, 184);
        width: 100%;
        border-radius: 10px !important;
        color:black;
        text-transform: uppercase;
        font-weight: 600;

    }
    
    .timeBottomLeft {
        margin-right: 2px !important;
    }
    .timeBottomRight {
        margin-left: 2px !important;
    }


    .bottomItems {
        position: absolute;
        bottom: 70px;
    }
    
    .header {
        position: absolute;
        top: 0px;
        margin-bottom: 10px;
        width: max-content center;
        justify-content: flex-end;
        display: flex !important;
        align-items: center !important;
        flex-flow: column;
    }

    .mapButton {
        position: absolute;
        top: 8px;
        right: 10px;
        margin-bottom: 10px;
        width: max-content center;
        justify-content: flex-end;
        display: flex !important;
        align-items: center !important;
        flex-flow: column;
    }
/* 
    .mapButtonCircle {
        background-color: #D8AB4C;
        border-radius: 50%;
    } */

    .mapContainer {
        position: absolute;
        height: 100%;
        bottom: 0;
        z-index: -1;
    }

    .ionDatetime {
        padding: 5px 0px !important;
    }

    .customQueryPopup {
        text-align: center;
        padding: 20px 40px;

    }

    /* .contact-popover .popover-content{ width: 700px; } */

   
@media screen and (max-width: 856px) {
    .reportLostPet {
        position: absolute !important;
        bottom: 0px !important;
    }
    .ion-padding {

  flex-flow: column !important;
    }
  }