.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.iconSize {
  font-size: 30px;
}

.uploadMargin {
  margin-left: 20px;
  margin-top: 15px;
}

/* plate selection stuff */

.plateSelectionMargin {
  margin-top: 25px;
}

.buttonLeftMargin {
  margin-left: 15px;
  margin-top: 20px;
}

.customQueryMarginL {
  margin-left: 146px;
  margin-top: -3px;
}

.reportLostVehicle {
  width: 200px;
}
