body {
  background-color: #E3E3E3;
}

.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  vertical-align: middle;
}

.titleItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  font-family: "Georgia", Times, serif;
}

.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.eachButton {
  flex-flow: column;
  justify-content: flex-end;
  width: 24.5%;
  height: 34vh;
  vertical-align: middle;
  --box-shadow: none;
  --border-radius: 10px;
  padding: .5% .5%;
  box-shadow: auto;
  border: transparent;
  border-radius: 2em;
  text-transform: none;
  
}
.icon {
  padding: 20px;
  font-size: .75rem;
}

.icon .fas {
  opacity: .4;
}

.licenseIcon {
  font-size: 60px;
  padding: 20px;
}
.truckIcon {
  font-size: 33px;
  padding: 20px;
}

/* animal dashboard */
.petIcon {
  font-size: 40px;
  padding: 20px;
}

.dashboardText {
  padding: 10px 0 0 0;
  font-size: 2.7em;
}

.ion-margin {
  margin: 30px;
}

.button-inner {
  flex-flow: column;
}

.button-content {
  background-color: white;
  border-radius: 1em;
  text-align: center;
  
  padding: 5px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.dash-title {
  margin-left: 1em;
  margin-top: .3em;
}

.header {
  height: 4.8em;
}

@media screen and (max-width: 1025px) {
  .eachButton {
    width: 48%;
    height: 34vh;
  }

  .dashboardText {
    font-size: 2em;
  }
}

ion-content.ion-padding{
  --background:#e3e3e3;
  
}

.dash-title {
  margin-top: 0em;
  margin-bottom: 0.5em;
}


@media (prefers-color-scheme: dark) {
  ion-content.ion-padding{
    --background:black;
  }

  .button-content {
    background-color: #3f3f3f;
  }

  .dash-title {
    color: #dfdddd;
  }

}

