.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.pictureDimension {
  height: 150;
  width: 150;
}

IonList {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  height: 70px;
  width: 180px;
}

.personalInfo {
  font-weight: bold;
}
