.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  height: 70px;
  width: 180px;
}

.titleItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  font-family: "Georgia", Times, serif;
}
