.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  vertical-align: middle;
  /* height: 70px;
  width: 180px; */
}

.titleItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  font-family: "Georgia", Times, serif;
}

.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.icon {
  font-size: 40px;
}
.truckIcon {
  font-size: 35px;
}

.ion-margin {
  margin: 30px;
}
