.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  vertical-align: middle;
  /* height: 70px;
  width: 180px; */
}

.titleItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  font-family: "Georgia", Times, serif;
}

.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.icon {
  font-size: 40px;
  justify-content: left;
  margin-right: 103px;
}
.licenseIcon {
  font-size: 40px;
  margin-right: 90px;
}
.truckIcon {
  font-size: 33px;
  margin-right: 85px;
}
.petIcon {
  font-size: 40px;
  margin-right: 95px;
}

.ion-margin {
  margin: 30px;
}
