.leaflet-container {
  width: 100%;
  height: 500px;
}

#mapid {
  height: 600px;
}

.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.startDateAndTime {
  left: 10px;
}

.icon {
  font-size: 40px;
}

.rightItem {
  float: right;
}

.uploadMargin {
  margin-left: 20px;
  margin-top: 15px;
}

/* traffic selection stuff */

.plateSelectionMargin {
  margin-top: 25px;
}

.buttonLeftMargin {
  margin-left: 15px;
  margin-top: 20px;
}

.customQueryMarginT {
  margin-left: 160px;
  margin-top: -3px;
}
