.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  height: 70px;
  width: 180px;
}

.iconSize {
  width: 20px;
  height: 20px;
}
.signinregion {
  text-align: center;

}

.login-button {
  margin: 14px auto;
  text-transform: none;
  font-size: 20px;
}


.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* width: 400px; */
}

.signin-block {
  padding: 10px 60px;
  border-radius: 10px;

}

.apple {
  border: 1px solid #000;
  border-radius: 5px;
}

@media screen and (max-width: 500px) { 
  .signin-block {
    padding: inherit;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .apple {
    border: 1px solid #fff;
    border-radius: 5px;
  }
}
