.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.logo {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  height: 70px;
  width: 180px;
}

.iconSize {
  font-size: 32px;
}
