.centerItem {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}

.backButton {
  position: absolute;
  bottom: 5px;
}

.register-block {
  background-color: white;
  padding: 10px 60px;
  border-radius: 10px;
}



@media (prefers-color-scheme: dark) {
  .register-block {
    background-color: #3f3f3f;
    color: white;
  }
}